* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  display: grid;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #fad96b3d;
}

/* / HEADER / */

header {
  padding: 2rem;
  text-align: center;
}

/* / MODAL/ */

.resultWindow {
  position: fixed;
  width: 100vw;
  height: 300px;
  margin-top: 3rem;
  background-color: #000000a4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.438);
  transition: 0.5s opacity, 0.5s visibility;
  user-select: none;

  > h2 {
    font-size: 3rem;
    color: #ffffff
  }
}

.hidden {
  visibility: hidden;
}

/* / MAIN / */

main {
display: grid;
place-items: center;
padding: 10px;
border-radius: 10px;
}

/* / MAIN_GAMEBOARD / */

.main__gameBoard {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell {
  border: 2px solid rgb(128, 128, 128);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.cell[turn="X"]:hover {
  background-image: url(./img/icon-x-outline.svg);
}

.cell[turn="O"]:hover {
  background-image: url(./img/icon-o-outline.svg);
}

.cell[token="X"] {
  background-image: url(./img/icon-x.svg) !important;
}

.cell[token="O"] {
  background-image: url(./img/icon-o.svg) !important;
}

.main__turn-info {
  margin-bottom: 1rem;
}

.main__scoreInfo-section {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  
}

.main__scoreInfo-display {
  display: grid;
  place-items: center;
  padding: 0.5rem 2rem;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 1rem;
  background-color: #fff;
}

/* / FOOTER / */

.footer {
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer_text {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: .5rem;
  font-size: 1.5rem;
}

.git_link {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: .5rem;
  align-items: center
}

.git_text::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.git_text:hover::after {
  width: 100%;
}

.git_img {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.git_link:hover .git_img {
  transform: scale(1.1);
}